<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static "jp001/css/demo1.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
          <h1>WELCOME TO NAUKRI PORTAL</h1>
          <tr>
        <a href="/del" class="btn btn-outline-primary active btn-lg" role="button" aria-pressed="true">DELHI-JOBS</a>
        <a href="/noi" class="btn btn-outline-success active btn-lg" role="button" aria-pressed="true">NOIDA-JOBS</a>
        <a href="/ggn" class="btn btn-outline-danger active btn-lg" role="button" aria-pressed="true">Gurgaon-JOBS</a>
        <a href="/gzd" class="btn btn-outline-secondary active btn-lg" role="button" aria-pressed="true">GAZIABAD-JOBS</a>
      </div>
    </div>
  </body>
</html>
